In [3]:
import pandas as pd

#### Display cleaned customer data

In [5]:
df = pd.read_csv('../data/customer_data-cleaned.csv', header=[0, 1])

# Fill unnamed columns with blank
df = df.rename(
    columns=lambda col: '' if 'Unnamed:' in col else col
)

# Fill 'na' values with blank
df = df.fillna('')

# Convert float values in address.zip to string
df['address', 'zip'] = df['address', 'zip'].map(
    lambda value: str(int(value)) if type(value) is float else value
)

df

      id first_name   last_name  phone_number               address  \
                                                             street
0   1001      Frodo     Baggins  123-545-5421        123 Shire Lane
1   1002       Abed       Nadir  123-643-9775   93 West Main Street
2   1003     Walter       White  706-695-0392    298 Drugs Driveway
3   1004     Dwight     Schrute  123-543-2345      980 Paper Avenue
4   1005        Jon        Snow  876-678-3469      123 Dragons Road
5   1006        Ron     Swanson  304-762-2467      768 City Parkway
6   1007       Jeff      Winger                   1209 South Street
7   1008   Sherlock      Holmes  876-678-3469         98 Clue Drive
8   1009    Gandalf                                123 Middle Earth
9   1010      Peter      Parker  123-545-5421      25th Main Street
10  1011    Samwise      Gamgee                      612 Shire Lane
11  1012      Harry      Potter  706-695-0392  2394 Hogwarts Avenue
12  1013        Don      Draper  123-543-2345      2039 Main Street
13  1014     Leslie       Knope  876-678-3469      343 City Parkway
14  1015       Toby  Flenderson  304-762-2467         214 HR Avenue
15  1016        Ron     Weasley  123-545-5421  2395 Hogwarts Avenue
16  1017   Michael        Scott  123-643-9775      121 Paper Avenue
17  1018      Clark        Kent  706-695-0392       3498 Super Lane
18  1019      Creed      Braton
19  1020     Anakin   Skywalker  876-678-3469     910 Tatooine Road

                        paying_customer do_not_contact
           state    zip
0          Shire                   True          False
1                                 False           True
2                                 False          False
3   Pennsylvania  18503            True           True
4                                  True          False
5                                  True           True
6                                 False          False
7                                 False          False
8                                  True          False
9       New York                   True          False
10         Shire                   True          False
11                                 True          False
12                                 True          False
13                                 True          False
14                                False          False
15                                False          False
16  Pennsylvania                   True          False
17                                 True          False
18                                False           True
19      Tatooine                   True          False